{{#pager}}
<ul class="pager">
	<li class="previous{{#isFirst}} disabled{{/isFirst}}"><a href="{{prev_page_link}}">&larr; Предыдущая</a></li>
	Страница {{currentPage}} из {{pagesCount}}
	<li class="next{{#isLast}} disabled{{/isLast}}"><a href="{{next_page_link}}">Следующая &rarr;</a></li>
</ul>
{{/pager}}