<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-center">
            <strong>Самовывоз {{delivery.dates.fromDate}} - {{delivery.dates.toDate}}</strong>
        </h3>
    </div>

</div>